$red: #EC605B;
$winered: #b33e5c;
$hover_red: #f5a09d;
$green: #489E7C;
$blue: #287CAC;
$lightblue: #189CCC;
$yellow: #F7F711;
$purple: #7755F1;
$white: #fff;
$black: #323232;
$gray: #999;
$light-gray: #f5f5f5;