.st-Title {
  margin-bottom: 30px;
  font-size: 28px;
}

@media screen and (max-width: 800px) {
  .st-Title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

@media screen and (max-width: 450px) {
  .st-Title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}