.cp-Create_ChatRoom {
  padding-left: 5px;
  .cp-Item_Area {
    margin: 20px 0;
    .cp-Item_Title {
      font-weight: normal;
      margin-bottom: 10px;
    }
    .cp-TextBox_Name {
      width: 90%;
      margin: 0 5%;
      font-size: 14px;
    }
    .cp-TextArea_Description {
      width: 90%;
      margin: 0 5%;
      font-size: 14px;
    }
    .cp-TextBox_Tag {
      display: inline-block;
      width: 60%;
      margin-left: 5%;
      font-size: 14px;
    }
    .cp-Tag_Button {
      padding: 3px 10px;
      margin-left: 15px;
    }
    .cp-Tag_Area {
      margin: 10px 0 0 5%;
    }
    .cp-Public_Area {
      margin: 10px 0 0 5%;
    }
    .cp-Private_Area {
      margin: 0 0 0 5%;
      .cp-RadioBox_Secret {
        display: inline-block;
        width: 50%;
        margin-left: 15px;
        font-size: 14px;
      }
    }
  }
  .cp-Button_Area {
    margin: 20px 0;
    text-align: right;
    .cp-Button {
      margin-right: 5%;
      padding: 5px 30px;
    }
  }
}