.h-Header {
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
}

.h-Title {
  font-size: 26px;
}

.navbar-brand {
  float: none;
  margin-left: 0;
}

.navbar-toggle {
  margin: 12px 0 8px 0;
}

.navbar-default {
  background-color: #ffffff;
  .navbar-brand {
    color: $black;
  }
  .navbar-nav > li > a {
    color: $black;
  }
}

.h-Logo {
  width: 50px;
  margin: 5px 0;
  height: auto;
  object-fit: contain;
}

.h-Menu {

  &_List {
    height: 60px;
    .h-Search {
      padding: 20px 15px;
    }
    .h-SignIn {
      padding: 20px 15px;
    }
    .h-SignUp {
      padding: 20px 15px;
    }
    .h-SignOut {
      padding: 20px 15px;
    }
    .h-Create {
      padding: 20px 15px;
    }
    .h-Mypage {
      padding: 20px 15px;
    }
    .h-Icon {
      padding: 20px 15px;
    }
  }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $light-gray;
}