.h-Header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1001;
  .navbar {
    border-radius: 0;
  }
  .navbar-header {
    height: 60px;
  }
  .navbar-brand {
    float: none;
    margin-left: 0;
  }
  .navbar-toggle {
    margin: 12px 0 8px 0;
  }
  .navbar-default {
    background-color: #ffffff;
    border: none;
    border-bottom: solid 1px $border-gray;
    .navbar-brand {
      color: $black;
    }
    .navbar-nav > li > a {
      color: $black;
    }
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $light-gray;
  }
}

.h-Title {
  font-size: 26px;
  line-height: 60px;
  padding: 0 15px 0 15px;
}

.h-Logo {
  width: 50px;
  margin: 0 0 10px 0;
  height: auto;
  object-fit: contain;
}

.h-Menu {
  &_List {
    height: 60px;
    .h-Search {
      padding: 20px 15px;
    }
    .h-SignIn {
      padding: 20px 15px;
    }
    .h-SignUp {
      padding: 20px 15px;
    }
    .h-SignOut {
      padding: 20px 15px;
    }
    .h-Create {
      padding: 20px 15px;
    }
    .h-Mypage {
      padding: 20px 15px;
    }
    .h-Icon {
      padding: 20px 15px;
    }
  }
}

@media screen and (max-width: 450px) {
  .h-Title {
    padding-left: 0;
  }
}