.si-Form {
  padding-left: 5px;
  .si-Id {
    margin: 10px 0;
    &_Title {
      font-weight: normal;
      width: 80px;
      margin: 0;
    }
    &_Textbox {
      font-size: 14px;
    }
  }
  .si-Password {
    margin: 10px 0;
    &_Title {
      font-weight: normal;
      width: 80px;
      margin: 0;
    }
    &_Textbox {
      font-size: 14px;
    }
  }
  .si-Checkbox {
    margin: 10px 0;
    &_Button {
      position: static;
      margin: 0;
    }
    &_Text {
      font-weight: normal;
      margin: 0;
    }
  }
  .si-Button {
    margin: 10px 0;
    background-color: $gray;
    border: none;
  }
}