.mp-Information {
  padding-left: 5px;
  margin-bottom: 30px;
  &_Image {
    object-fit: scale-down;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .mp-Information_Sub {
    display: inline-block;
    vertical-align: middle;
    .mp-Information_Name {
      margin: 10px 0;
      font-size: 26px;
    }
    .mp-Information_UserId {
      margin: 10px 0;
      font-size: 18px;
    }
  }
  .mp-Information_Description {
    word-break: break-all;
    font-size: 18px;
  }
}

.mp-Nav_Area {
  padding: 0 5px;
  .nav-tabs {
    border-bottom-color: $red;
    .nav-item {
      .mp-Nav_Link {
        color: $red;
      }
      .mp-Nav_Link:hover {
        border-bottom: none;
      }
    }
    .active {
      .mp-Nav_Link {
        background-color: $red;
        color: $white;
        border-color: $red;
      }
      .mp-Nav_Link:hover {
        color: $white;
        border: solid 1px $red;
      }
    }
  }
}

.mp-ChatRoom {
  border: solid 1px $gray;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 5px;
  &_Name {
    font-size: 26px;
    word-break: break-all;
  }
  &_Tag {
    margin: 4px 4px 0 0;
  }
  &_Description {
    word-break: break-all;
  }
  &_LinkBox {
    text-align: right;
    .mp-ChatRoom_Link {
      text-decoration: none;
      color: $red;
    }
  }
  .mp-Copy_Area {
    padding: 0;
    border: none;
  }
}

.mp-Not_CreateRoom {
  text-align: center;
  color: $black;
  margin-top: 50px;
}

.mp-Not_FavoriteRoom {
  text-align: center;
  color: $black;
  margin-top: 50px;
}

@media screen and (max-width: 450px) {
  .nav-item {
    .mp-Nav_Link {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}