.mp-Information {
  padding-left: 5px;
  margin-bottom: 30px;
  &_Name {
    margin: 10px 0;
    font-size: 24px;
  }
  &_UserId {
    margin: 10px 0;
  }
}

.mp-Nav_Area {
  padding: 0 5px;
  .mp-Nav_Link {
    z-index: -1;
  }
}

.mp-Chatroom {
  border: solid 1px $gray;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 5px;
  &_Name {
    font-size: 26px;
  }
  &_Tag {
    margin: 4px 4px 0 0;
  }
  &_Description {

  }
  &_LinkBox {
    text-align: right;
    .mp-Chatroom_Link {
      text-decoration: none;
    }
  }
}