.su-Form {
  padding-left: 5px;
  .su-Image {
    margin: 0 0 10px 0;
    &_Title {
      font-weight: normal;
    }
  }
  .su-ScreenName {
    margin: 0 0 10px 0;
    &_Title {
      font-weight: normal;
      margin: 0;
    }
    &_Textbox {
      font-size: 14px;
    }
  }
  .su-Id {
    margin: 0 0 10px 0;
    &_Title {
      font-weight: normal;
      margin: 0;
    }
    &_Textbox {
      font-size: 14px;
    }
  }
  .su-Password {
    margin: 0 0 10px 0;
    &_Title {
      font-weight: normal;
      margin: 0;
    }
    &_Textbox {
      font-size: 14px;
    }
  }
  .su-Confirm {
    margin: 0 0 30px 0;
    &_Title {
      font-weight: normal;
      margin: 0;
    }
    &_Textbox {
      font-size: 14px;
    }
  }
  .su-Button_Area {
    text-align: right;
    margin: 10px 0;
    .su-Button {
      padding: 5px 10px;
    }
  }
}