.rp-Container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 234px;
  padding-top: 60px;
}

.rp-ChatRoom {
  margin: 20px 0;
  &_Name {
    margin: 30px 0;
    font-size: 28px;
  }
  &_Id {
    margin: 10px 0 0 0;
  }
  &_Favorite {
    .rp-Star {
      padding-right: 10px;
      font-size: 24px;
      color: $yellow;
    }
  }
}

.rp-List {
  .rp-Message {
    padding: 15px;
    &:hover {
      background: $light-gray;
    }
    &_User {
      color: $black;
      &Icon {
        object-fit: scale-down;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    &_Name {
      font-weight: 600;
      font-size: 20px;
    }
    &_Id {
      font-weight: 600;
    }
    &_Time {
      margin-left: 10px;
      color: $gray;
    }
    .rp-Image {
      width: 300px;
      height: 300px;
      object-fit: scale-down;
      &_Link {
        display: block;
        text-decoration: none;
      }
    }
    .rp-Gif {
      width: 300px;
      height: 200px;
      object-fit: scale-down;
    }
    .rp-Draw {
      width: 300px;
      height: auto;
      object-fit: scale-down;
    }
  }
}

.rp-User_Comment {
  word-break: break-all;
  margin: 10px;
}

.rp-NotComment {
  text-align: center;
  margin-top: 100px;
  color: $black;
}

.rp-pagination {
  text-align: center;
  .pagination {
    a {
      color: $red;
    }
    a:hover {
      color: $red;
    }
    .disabled {
      span {
        color: $black;
      }
    }
    .active {
      span {
        color: $white;
        background-color: $red;
        border-color: $red;
      }
    }
  }
}

.rp-Accordion {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  background-color: $winered;
}

.h-Navbar-Collapse {
  z-index: 11111;
}

.rp-NavText_Wrapper {
  position: relative;
}

.rp-NavText {
  position: absolute;
  top: 5px;
  right: 10px;
  color: $red;
}

.rp-NavText:hover {
  color: $white;
}

.rp-NavText:focus {
  color: $white;
}

.rp-NavText.active {
  color: $white;
}

.rp-NavText:focus, .rp-NavText.focus, .rp-NavText:active:focus, .rp-NavText:active.focus, .rp-NavText.active:focus, .rp-NavText.active.focus {
  outline: none;
  outline-offset: 0;
  color: $red;
}

.rp-NavText:hover, .rp-NavText:focus {
  text-decoration: none;
  color: $red;
}

.rp-Nav_Tabs {
  background-color: $garnet;
  border: 0;
  .rp-Nav_Tab {

    a {
      margin: 0;
      color: $white;
      box-sizing: border-box;
      border: none;
    }
  }
}

.rp-Nav_Tabs > li.active > a,
.rp-Nav_Tabs > li.active > a:hover,
.rp-Nav_Tabs > li.active > a:focus {
  color: $white;
  background-color: $red;
  border: 0;
  border-radius: 0;
}
.rp-Nav_Tabs > .rp-Nav_Tab > a:hover, .rp-Nav_Tabs > .rp-Nav_Tab > a:focus {
  background-color: $hover_red;
  border-radius: 0;
}

.rp-Post_Wrapper {
  width: 100vw;
  height: 200px;
  background-color: $winered;
  .rp-Post_Container {
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
    .rp-Form {
      margin-top: 20px;
      .rp-TextArea {
        width: 100%;
        height: 100px;
        resize: none;
        border-radius: 5px;
        border: none;
      }
      .rp-TextArea:focus {
        outline: 0;
      }
      .rp-Form_Other {
        margin-top: 15px;
      }
    }
    .canvas {
      position: relative;
      border-radius: 5px;
      background: #fff;
    }
  }
}

.rp-Form_Other {
  text-align: right;
  .rp-CheckBox {
    margin: 0;
  }
  .rp-CheckBox_Text {
    margin: 0 25px 0 5px;
  }
}

.rp-Markdown {
  color: $white;
}

.rp-Button {
  padding: 5px 10px;
  background-color: $red;
}

.rp-Button:focus {
  outline: none;
}

.rp-Button:disabled {
  opacity: 0.5;
}

.rp-Form_File {
  .rp-File_Area {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    .rp-Cloud_Upload {
      color: $white;
    }
    .rp-File_Text {
      color: $white;
      margin-bottom: 0;
    }
    .rp-File_Input {
      display: none;
    }
  }
  .rp-Form_Other {
    margin-top: 20px;
    text-align: center;
  }
}

.rp-Gif_Label {
  .rp-Gif_Select {
    width: 120px;
  }
}

.rp-Gif_RadioButton {
  display: none;
}
.rp-Form_Gif {
  .rp-Gif_Wrapper {
    padding: 10px;
    height: 140px;
    background: $white;
    border-radius: 5px;
    overflow: scroll;
    margin-bottom: 8px;
  }
}

.rp-Gif_RadioButton:checked + .rp-Gif_Select {
  border: 3px solid $red;
}

@media screen and (max-width: 1200px) {
  .rp-Post_Container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .rp-Container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 450px) {
  .rp-Nav_Text {
    display: none;
  }
}