.rp-Container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 200px;
}

.rp-ChatRoom {
  margin: 20px 0;
  &_Name {
    margin: 30px 0;
    font-size: 28px;
  }
  &_Id {
    margin: 10px 0 0 0;
  }
  &_Favorite {
    .rp-Star {
      padding-right: 10px;
      font-size: 24px;
      color: $yellow;
    }
  }
  &_Description {

  }
  &_Tag {

  }
}

.rp-List {
  //border-top: solid 5px $red;
  .rp-Message {
    //border-bottom: solid 1px $red;
    padding: 15px 0;
    &:hover {
      background: $light-gray;
    }
    &_User {
      color: $black;
    }
    &_Name {
      font-weight: 600;
      font-size: 20px;
    }
    &_Id {
      font-weight: 600;
    }
    &_Time {
      margin-left: 10px;
      color: $gray;
    }
  }
}

.rp-pagination {
  text-align: center;
}

.rp-Post_Wrapper {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100vw;
  height: 200px;
  background-color: $lightblue;
  .rp-Post_Container {
    max-width: 1200px;
    margin: auto;
    .rp-Form {
      margin-top: 20px;
      .rp-TextArea {
        width: 100%;
        height: 100px;
        resize: none;
        border-radius: 5px;
        border: none;
      }
      .rp-TextArea:focus {
        outline: 0;
      }
      .rp-Form_Other {
        margin-top: 15px;
        .rp-file {

        }
        .rp-CheckBox {
          margin: 0;
        }
        .rp-CheckBox_Text {
          margin: 0 25px 0 5px;
        }
        .rp-Button {
          padding: 5px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .rp-Container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .rp-Post_Container {
    padding-left: 10px;
    padding-right: 10px;
  }
}