.tp-Catchphrase_Area {
  position: relative;
  height: 500px;
  .tp-Catchphrase {
    width: 100vw;
    height: 500px;
    position: absolute;
    background-color: $red;
    color: $black;
    margin-top: 60px;
    animation-name: catchphrase;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-timing-function: linear;
  }
  .tp-Catchphrase_Text {
    width: 640px;
    font-size: 80px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    animation-name: catchphrase-text;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: linear;
  }
}

@keyframes catchphrase {
  from {
    transform: translate(-101%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes catchphrase-text {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotateX( 88deg ) ;
  }
  60% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotateX( 88deg ) ;
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) rotateX( 0deg ) ;
  }
}

.tp-Rotation {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $white;
  &_img {
    position: absolute;
    top: -100px;
    left: 50%;
    width: 200px;
    height: auto;
    transition: 0.5s;
    transform: translateX(-50%) rotateZ(0deg);
    animation-name: elephant;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
  }
}

@keyframes elephant {
  0% {
    transform: translateX(-50%) rotateZ(0deg);
  }
  50% {
    transform: translateX(-50%) rotateZ(370deg);
  }
  60% {
    transform: translateX(-50%) rotateZ(352deg);
  }
  70% {
    transform: translateX(-50%) rotateZ(365deg);
  }
  80% {
    transform: translateX(-50%) rotateZ(355deg);
  }
  90% {
    transform: translateX(-50%) rotateZ(363deg);
  }
  100% {
    transform: translateX(-50%) rotateZ(360deg);
  }
}

.tp-Rotation_img:hover {
  transform: translateX(-50%) rotateZ(360deg);
}

.tp-Container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.tp-ChatRoom_Container {
  margin-bottom: 30px;
  .tp-ChatRoom {
    border: solid 1px $gray;
    border-radius: 4px;
    margin: 20px 0;
    padding: 5px;
    &_Name {
      font-size: 26px;
    }
    &_Tag {
      margin: 4px 4px 0 0;
    }
    &_Description {

    }
    &_LinkBox {
      text-align: right;
      .tp-ChatRoom_Link {
        text-decoration: none;
      }
    }
  }
  .tp-Search {
    text-align: right;
    &_Link {
      text-decoration: none;
    }
  }
  .tp-Copy_Area {
    padding: 0;
    border: none;
  }
  .tp-Copy_Button {
    background-color: $white;
  }
  .btn:active {
    box-shadow: none;
  }
  .btn:focus {
    outline: none;
    outline-offset: 0;
  }
}

.tp-Copy_Area:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .tp-Container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .tp-Catchphrase_Area {
    height: 350px;
    .tp-Catchphrase {
      height: 350px;
    }
    .tp-Catchphrase_Text {
      top: 56%;
      width: 400px;
      font-size: 50px;
    }
  }
  .tp-Rotation {
    height: 100px;
    &_img {
      top: -75px;
      width: 150px;
      height: auto;
    }
  }
}

@media screen and (max-width: 450px) {
  .tp-Catchphrase_Area {
    height: 250px;
    .tp-Catchphrase {
      height: 250px;
    }
    .tp-Catchphrase_Text {
      top: 63%;
      width: 240px;
      font-size: 30px;
    }
  }
  .tp-Rotation {
    height: 75px;
    &_img {
      top: -50px;
      width: 100px;
      height: auto;
    }
  }
}