.tp-Catchphrase {
  width: 100vw;
  line-height: 450px;
  font-size: 80px;
  text-align: center;
  background-color: $red;
  color: $black;
  margin-top: 60px;
}

.tp-Rotation {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $white;
  &_img {
    position: absolute;
    top: -100px;
    left: 42%;
    width: 200px;
    height: auto;
    transition: .5s ;
    transform: rotateZ(0deg);
  }
}

.tp-Rotation_img:hover {
  transform: rotateZ(360deg);
}

.tp-Container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.tp-Chatroom_Container {
  margin-bottom: 30px;
  .tp-Chatroom {
    border: solid 1px $gray;
    border-radius: 4px;
    margin: 20px 0;
    padding: 5px;
    &_Name {
      font-size: 26px;
    }
    &_Tag {
      margin: 4px 4px 0 0;
    }
    &_Description {

    }
    &_LinkBox {
      text-align: right;
      .tp-Chatroom_Link {
        text-decoration: none;
      }
    }
  }
  .tp-Search {
    text-align: right;
    &_Link {
      text-decoration: none;
    }
  }
  .tp-Copy_Area {
    padding: 0;
    border: none;
  }
  .tp-Copy_Button {
    background-color: $white;
  }
  .btn:active {
    box-shadow: none;
  }
  .btn:focus {
    outline: none;
    outline-offset: 0;
  }
;
}

@media screen and (max-width: 1200px) {
  .tp-Container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .tp-Catchphrase {
    line-height: 300px;
    font-size: 50px;
  }
  .tp-Rotation {
    height: 100px;
    &_img {
      top: -75px;
      width: 150px;
      height: auto;
    }
  }
}

@media screen and (max-width: 450px) {
  .tp-Catchphrase {
    line-height: 200px;
    font-size: 30px;
  }
  .tp-Rotation {
    height: 75px;
    &_img {
      top: -50px;
      left: 38%;
      width: 100px;
      height: auto;
    }
  }
}